.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  height: 50px;
  border-bottom: 1px solid rgba(18, 18, 18, 0.03);

  .value {
    white-space: nowrap;
    text-align: end;
  }
}
