.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 24px;
  margin-bottom: 104px;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.image {
  border-radius: 32px;
  overflow: hidden;
}

@media (max-width: 800px) {
  .cell {
    gap: 16px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .grid {
    margin-bottom: 40px;
  }
}
