.container {
  display: flex;
  // justify-content: space-between;
  gap: 48px;
  margin-bottom: 48px;
}

.title {
  flex-basis: 690px;
}

@media (max-width: 993px) {
  .container {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
  }

  .title {
    flex-basis: 100%;
  }

  .title,
  .title span {
    font-size: 48px;
  }
}

@media (max-width: 480px) {
  .title,
  .title span {
    font-size: 32px;
  }

  .description {
    display: none;
  }
}
