.wrapper {
  background: var(--dark);
  padding: 100px 0px 68px;
  border-radius: 32px;
}
.title {
  font-size: 40px;
  margin-bottom: 12px;
}
.subtitle {
  color: #666;
  margin-bottom: 32px;
  max-width: 600px;
}
.selection {
  display: grid;
  grid-template-columns: 1fr 48px 1fr;
  margin-bottom: 24px;

  .part:first-of-type .input {
    border-radius: 16px 0px 0px 16px;
  }

  .part:last-of-type .input {
    border-radius: 0px 16px 16px 0px;
  }
}
.part {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.label {
  margin-bottom: 4px;
}

.input {
  padding: 20px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  background: var(--light-blue);
}

.swapButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  background-color: #fff;
  height: 62px;
  padding-top: 16px;
  z-index: 2;
}

.swapButton {
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--light-gray);
  background-color: #fff;
}

.info {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.card {
  display: flex;
  align-items: center;
  gap: 8px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.order {
  display: flex;
  align-items: center;
  gap: 48px;
}
.buttons {
  display: flex;
  gap: 16px;
  flex-grow: 1;
  flex-shrink: 0;
}
.warning {
  line-height: 150%;
  span {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (max-width: 1027px) {
  .order {
    align-items: start;
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: 775px) {
  .selection {
    display: flex;
    flex-direction: column;
    gap: 56px;

    .part:first-of-type .input {
      border-radius: 16px 16px 0px 0px;
      border-bottom: 1px solid var(--light-gray);
    }

    .part:last-of-type .input {
      border-radius: 0px 0px 16px 16px;
    }

    position: relative;
  }

  .swapButtonWrapper {
    display: contents;
  }

  .swapButton {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}

@media (max-width: 550px) {
  .wrapper {
    background: var(--dark);
    padding: 48px 0px 16px;
    border-radius: 32px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .selection {
    margin-bottom: 8px;
  }

  .info {
    padding: 16px 0px;
    margin-bottom: 0px;
    justify-content: space-between;

    .card {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .content {
      text-align: center;
    }
  }

  .buttons {
    width: 100%;
    gap: 8px;
    flex-direction: column;
  }
}
