.description {
  line-height: 150%;
  margin-bottom: 32px;
}

.advancements {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
}

.advancement {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;

  .left {
    background: var(--orange);
    border-radius: 16px;
    padding: 8px 12px;
    flex-shrink: 0;
  }

  div {
    font-size: 40px;
    font-weight: 700;
    color: var(--white) !important;
  }
}

.partner {
  line-height: 150%;
  margin-bottom: 24px;
  text-transform: uppercase;
}

@media (max-width: 760px) {
  .advancements {
    align-items: center;
  }
}

@media (max-width: 480px) {
  .description {
    margin-bottom: 24px;
  }
  .advancements {
    margin-bottom: 24px;
    align-self: center;
  }

  .advancement {
    div {
      font-size: 24px;
      font-weight: 700;
    }
  }
}

@media (max-width: 410px) {
  .advancements {
    gap: 24px;
  }

  .advancement {
    flex-direction: column;
    gap: 4px;
  }
}
