.wrapper {
  // background-image: url("../../../public/images/for-business-bg-h.jpg");
  background-size: cover;
  // background-image: url(img/buisiness.png);
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-color: #101010;
}

.content {
  max-width: 600px;
}

.advantages {
  display: flex;
  gap: 24px;
}

.advantage {
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0%;
  span {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0%;
    color: var(--orange);
  }
}

.block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  button {
    width: fit-content;
  }
}

.green {
  span {
    color: var(--green) !important;
  }
}

@media (max-width: 760px) {
  .content {
    max-width: 100%;
    text-align: center;
  }

  .wrapper {
    background: var(--dark);
  }

  .block {
    align-items: center;
  }
}

@media (max-width: 480px) {
  .advantages {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
