.wrapper {
  background: url("/images/welcome-background.png") 0 0 / cover no-repeat;
}

.content {
  background: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 40px;
  border-radius: 32px;
  gap: 32px;
}

.buttons {
  display: flex;
  gap: 8px;
}

.left {
  flex-basis: 480px;
  flex-shrink: 0;
}

.right {
  margin-block: -20px;

  img {
    width: 100%;
  }
}

@media (max-width: 1010px) {
  .left {
    flex-basis: 320px;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .buttons {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .content {
    flex-direction: column;
    gap: 16px;
    padding: 32px;

    .right {
      margin: 0px auto;
      max-width: 480px;
    }
  }
}
@media (max-width: 480px) {
  .content {
    padding: 24px;
  }
}

.military {
  background: url("/images/military/welcome-background.png") 0 0 / cover no-repeat;

  .content {
    background-image: url("/images/military/flag.jpg");
    background-size: 100% 100%;
  }
}
